<%-include('../layouts/home_register.ejs')%>
<%-include('../layouts/flashes.ejs')%>

<form action="/register" method="POST" enctype="multipart/form-data">
<label for="name">Name</label>
<input type="text" required name="name" id="" value="<%=typeof name != 'undefined'? name:''%>">
                                                    

<label for="email">Email</label>
<input type="email" required name="email" id="" value="<%=typeof email != 'undefined'? email:''%>">


<label for="password">Password</label>
<input type="password" required name="password" id="">

<label for="passwordConfirm">Confirm Password</label>
<input type="password" required name="passwordConfirm" id="">

<label for="file">Your Picture</label>
<input type="file" name="uploader">
<label for="sex">Sex</label>
Male<input type="radio" name="sex" required value="Male" id="">
Female<input type="radio" name="sex" required value="Female" id="">

<label for="Phone Number">Phone Number</label>
<input type="text" name="phoneNumber" id="" placeholder="Strart with 0...... " value="<%=typeof phoneNumber != 'undefined'? phoneNumber:''%>">

<label for="Location">Location</label>
<input type="text" name="location" id="" value="<%=typeof location != 'undefined'? location:''%>">

<label for="reason">What Is Making You See The Need To Join Us</label>
<textarea name="reason" id="" cols="30" rows="10"><%=typeof reason != 'undefined'? reason:''%>"</textarea>
<select name="role" id="">
    <option value="Student">Student</option>
    <option value="Graduate">Graduate</option>
    <option value="Trader">Trader</option>
    <option value="Philantropist">Philantropist</option>
</select>
<button type="submit">Register</button>
</form>

<%-include('../layouts/home_footer.ejs')%>
